    <link name="table">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="1 1.5 1"/>
            </geometry>
            <material name="LightGrey"/>
        </visual>
        <collision>
            <geometry>
                <box size="1 1.5 1"/>
            </geometry>
        </collision>
    </link>

    <joint name="table_joint" type="fixed">
        <parent link="table"/>
        <child link="$(prefix)base_link"/>
        <origin xyz="0.0 0.0 0.5" rpy="0.0 0.0 0.0"/>
    </joint>
